header{
    background-image: url("images/apple-pie.jpg");
    width: 100%;
    height: 500px;
}

header>h1{
    margin: 0 auto;
    text-align: center;
    color: #fff;
    line-height: 500px;
    font-size: 80px;
}

main>div{
    width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    border-bottom: 1px solid #333;
}

section {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
}

section:not(:last-child){
    border-bottom: 1px solid #333;

}

section>h3 {
    margin: 20px 0;
    font-size: 24px;
}

main>section>.image-container{
    text-align: center;
}

div>img,
main>section>.image-container>img{
    width: 300px;
    margin: 20px 0;
}