div{
    width: 600px;
    margin: auto;
    
}
header{
    background-image:  url(images/apple-pie.jpg);
    background-size: 800px;
    background-repeat: no-repeat;
    height: 400px;
}
h1{
    color:  white;
    padding-top: 200px;
    padding-left: 230px;
}
article{
    margin:30px;
}
img{
    max-width: 50%;
    height: auto;
    display: block;
    margin: auto;
}
hr{
    color:gray;
    margin-top: 30px;
    margin-bottom: 30px;
}